<div
  class="container border border-success border-2 rounded-pill p-1 my-2 bg-success-subtle text-success-emphasis text-center"
>
  Ensino no IFMS
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-9 text-justify primeira-linha">
      <p id="Lorem">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore magni ea
        harum impedit fugiat similique adipisci eum! Blanditiis, quod!
        Consectetur consequatur ducimus doloribus non, earum quaerat vitae totam
        quam, odio est maiores architecto. Quia eos inventore beatae ad illo
        ipsum facilis temporibus, a reprehenderit repellendus magni harum
        eligendi labore laudantium corporis odio adipisci deserunt vitae nemo
        repellat voluptatem sit. Eaque atque ipsum, vero blanditiis deleniti
        magnam dicta repudiandae fugit magni placeat dignissimos vel aut facilis
        cum enim eius ratione. Fuga tempore eveniet dolore veniam sit sed soluta
        ducimus itaque, commodi reiciendis eaque expedita officia beatae quaerat
        consequuntur explicabo tenetur iure!
      </p>
      <p id="Ipsa">
        Ipsa labore qui sapiente velit illum quaerat fuga culpa voluptatem quos
        tempora earum obcaecati odio accusamus aut fugiat optio quasi
        consequatur expedita a, dolor eum in ducimus quod possimus. Incidunt
        quisquam suscipit labore accusantium aliquam minima quidem, ab similique
        tempore, sed quia alias amet perspiciatis quaerat, deserunt eligendi hic
        velit? Modi eos, unde voluptatem atque, officia doloremque cumque fuga
        architecto minima obcaecati numquam iste, exercitationem quam suscipit
        temporibus provident neque est corrupti? Cupiditate numquam sed
        voluptatem ipsum pariatur nobis sit quae, laborum beatae rerum veritatis
        unde asperiores commodi, explicabo, quas eum facere! Officia, debitis
        voluptas. Fuga repellat suscipit vero consequatur.
      </p>
      <p id="Consequuntur">
        Consequuntur, nulla corporis labore, quos, minus possimus placeat
        laborum ut officia id praesentium ad sunt perferendis tempora amet hic
        dolores. Officiis corporis officia necessitatibus iusto suscipit a
        asperiores autem quo nisi in soluta explicabo repudiandae ipsam eum
        adipisci voluptatum rerum quasi est voluptates tenetur ad pariatur ut,
        maxime itaque. Repellat, dicta porro! Soluta reprehenderit possimus quod
        ea modi fugit, dolores dolore. Iure facilis, aliquid odit ratione
        corporis nulla officia dignissimos id molestias repudiandae,
        consequuntur perspiciatis delectus tempore. Sed et nulla enim sapiente
        numquam corporis illo ducimus esse amet labore aspernatur, iusto nihil!
        Sint vitae, consequatur corrupti facilis unde quaerat debitis.
      </p>
    </div>
    <div class="col text-justify primeira-linha">
      <div class="sticky-md-top">
        <p><a href="#Lorem">Lorem</a></p>
        <p><a href="#Ipsa">Ipsa</a></p>
        <p><a href="#Consequuntur">Consequuntur</a></p>
      </div>
    </div>
  </div>
</div>
