<div
  class="container border border-success border-2 rounded-pill p-1 bg-success-subtle text-success-emphasis text-center"
>
  Página de Pesquisa do IFMS
</div>

<div class="container text-center">
  <div class="row">
    <div class="col text-justify primeira-linha">
      <div class="sticky-md-top">
        <p><a href="#Lorem">Lorem</a></p>
        <p><a href="#Voluptatum">Voluptatum</a></p>
        <p><a href="#Cumque">Cumque</a></p>
        <p><a href="#Sed">Sed</a></p>
        <p><a href="#Aperiam">Aperiam</a></p>
      </div>
    </div>
    <div class="col-9 text-justify primeira-linha">
      <p id="Lorem">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem amet
        libero optio. Facilis laborum temporibus illo porro praesentium sunt
        impedit velit! Autem debitis hic libero veniam enim unde nulla! Corporis
        inventore molestiae ab, necessitatibus temporibus voluptates beatae
        reiciendis ex quasi! Nam eveniet qui reprehenderit rem praesentium
        delectus voluptates nihil cupiditate a ducimus, ratione quam libero,
        amet voluptate possimus nobis? Hic maiores reiciendis dicta tenetur
        earum labore. Quis, voluptatibus temporibus. Non perferendis doloremque
        fuga ratione sunt qui magnam nisi ad officia. Quasi, quas. Recusandae
        possimus, eligendi sit repellendus animi rerum, distinctio laudantium
        assumenda natus nisi inventore numquam expedita beatae, tempore dolor
        nostrum obcaecati molestiae modi quia cumque unde voluptates ipsum quo?
        Architecto magnam omnis et vero quibusdam? Illo dolor dolore distinctio
        quis doloremque quod rerum nam laboriosam consequatur molestiae
        reiciendis facilis, deleniti magni aliquid id saepe enim esse eveniet
        dolorem voluptas repellat, quaerat repudiandae! Quos accusamus labore
        temporibus, molestiae quo earum?
      </p>
      <p id="Voluptatum">
        Voluptatum, officia error culpa quae laboriosam, quos odit omnis quasi
        cumque repellendus ullam. Neque tempore dignissimos facilis. Nam,
        accusamus commodi! Iusto cumque quos cupiditate numquam enim porro at
        sequi ipsam, minima, corrupti deserunt repellat? Minima suscipit tempora
        aperiam dolores mollitia doloremque, impedit assumenda deleniti ullam ea
        voluptatum hic magni sit veritatis dolorem porro iure exercitationem
        quaerat. Dignissimos facere nemo ab! Quae, fugit quibusdam corrupti
        minima facere dignissimos atque amet similique odit, autem tenetur
        temporibus officia at praesentium nostrum debitis consequuntur delectus
        culpa, magnam quidem. Corporis nihil corrupti a qui dolorem autem fuga
        perferendis reprehenderit sed pariatur, rem accusantium facere
        cupiditate necessitatibus, illo deserunt adipisci ducimus itaque
        asperiores tenetur. Autem, nostrum assumenda. Fuga dolore, neque tenetur
        vero assumenda doloribus velit eum ad excepturi architecto in minima
        aliquam omnis perferendis rem voluptas! Doloribus dolorum obcaecati quia
        est? Adipisci odit assumenda similique possimus enim necessitatibus.
        Nobis esse exercitationem nam nostrum sed magni? Harum?
      </p>
      <p id="Cumque">
        Cumque voluptate eaque cum sed laboriosam itaque adipisci numquam
        tempora, voluptatum rem dolores maiores blanditiis et, consequuntur nam
        delectus. Reiciendis debitis dignissimos deleniti quas consectetur nobis
        praesentium et rerum dolorum? Eveniet quod unde asperiores est. Odit
        porro temporibus minima! Quaerat accusantium voluptas aut et, modi
        expedita placeat velit perspiciatis id? Labore, iusto. Repellat ipsam
        earum, dolor quas perferendis omnis impedit, dolore laboriosam
        asperiores porro illo tempora velit quidem officiis possimus officia
        libero odio cupiditate eligendi nulla? Ab, aperiam debitis deserunt
        provident corrupti quam asperiores quae consectetur alias ipsum
        architecto laborum eaque, molestiae vero sequi aspernatur veniam
        mollitia quasi harum non, ipsa optio? Veniam sequi quod nulla fugiat
        quibusdam aut nihil repellendus nam maiores earum. Eius illo maxime
        autem at modi adipisci veniam, quidem consequatur sunt cupiditate ipsum,
        aut quaerat, reiciendis error explicabo? Voluptate quisquam debitis
        maiores laboriosam totam blanditiis obcaecati vitae deserunt impedit
        dolorum officia, quis nulla quas explicabo consectetur.
      </p>
      <p id="Sed">
        Sed voluptates, error praesentium similique molestiae adipisci labore
        cumque nostrum assumenda architecto saepe, laudantium deserunt animi
        amet recusandae debitis neque aut ipsum consequatur quae! Temporibus
        velit numquam voluptatibus quaerat architecto, quam laborum, facilis
        aspernatur est ex illo culpa facere! Dolores sunt rerum minus fugiat
        unde laudantium ducimus quam excepturi magni molestias voluptas eligendi
        neque officia a porro similique consequuntur eius, ullam repudiandae,
        suscipit modi. Nulla necessitatibus placeat ad laborum earum similique
        cupiditate quas illum nihil et sapiente aspernatur quam ullam voluptates
        recusandae cum, asperiores debitis. Iusto vero nesciunt molestiae ipsum
        laudantium quisquam quibusdam maxime, ipsa excepturi ex qui, fugit
        commodi soluta et exercitationem veritatis! Eos doloremque quibusdam
        cumque ratione nemo autem atque vel delectus minus nihil! Voluptatibus
        aperiam expedita, optio soluta assumenda autem harum impedit tenetur
        similique ullam molestias animi dolore quidem vel? Assumenda libero
        error facere molestias illum numquam exercitationem, dolores iusto
        excepturi soluta, nobis reprehenderit repudiandae recusandae magnam!
      </p>
      <p id="Aperiam">
        Aperiam suscipit ipsam minus quisquam corrupti eaque ullam explicabo
        minima obcaecati sit est officia voluptates soluta sequi cum eius,
        aspernatur asperiores ipsum numquam! Corrupti excepturi minima eligendi
        dicta voluptatem delectus, necessitatibus fugiat sequi ipsam quidem
        repellendus aspernatur omnis, autem praesentium esse cupiditate eos
        quod. Quas nam culpa, officia architecto ducimus dolores autem non sed
        vero nostrum facere magnam porro debitis fuga in corporis ullam voluptas
        exercitationem? Vel maxime sapiente praesentium consequatur odio officia
        suscipit dolore est deserunt, sit quos! Voluptas consequuntur
        consectetur, quis dolores pariatur labore aspernatur, nisi adipisci
        exercitationem a minus minima doloremque, in laudantium id ad nemo quos
        ab! Placeat illo fugit repudiandae saepe. Iusto ullam eum dignissimos
        rerum quisquam et porro ratione harum quod magni, sequi suscipit vero
        officiis accusantium obcaecati earum expedita laboriosam excepturi!
        Delectus eos libero quae, harum ab eius molestias vel sit, beatae quas
        quo, mollitia ex eum error voluptates. Animi provident praesentium
        sapiente?
      </p>
    </div>
  </div>
</div>
